@media only screen and (max-width:600px) {
    .Navbar {
        box-shadow: -1px -16px 7px 12px blue;
        width: 100%;
        background-color: #ffffff;
        height: 70px;
    }

    .nav-container-2 {
        display: block;
        position: relative;
    }

    .navbar_2 {
        min-width: 360px;
        height: 70px;
        margin: 0 auto;
        display: flex;
        z-index: 1000 !important;
        background-color: #fff;
        justify-content: space-between;
    }

    .navbar_2 h2 {
        transform: translateY(10px);
    }

    .unOrderList {
        margin-top: 31px;
        z-index: 1000 !important;

        background-color: rgb(255, 255, 255);
    }

    .nav-menu-control-hide {
        min-width: 360px;
        margin: 0 auto;
        transform: translateY(-230px);
        height: 0;
        z-index: 1000 !important;

        transition:all .2s;
    }
    .nav-menu-control-show{
        z-index: 1000 !important;

        min-width: 360px;
        margin: 0 auto;
        height:80px;
        transform: translateY(-30px);
        transition:all .5s;
    }
    .unOrderList .nav_list {
        z-index: 1000 !important;

        font-size: 15px;
        list-style: none;
        padding: 3px 18px;
        height: 30px !important;
        border-bottom: 1px solid #dddbdb;
        background-color: rgb(255, 255, 255);

    }

    .nav_list:hover {
        background-color: #222222;
        color: #ffff;
        z-index: 1000 !important;

    }

    .nav-container_1 {
        display: none;
    }

    .bar-container {
        width: 27px;
        position: absolute;
        right: 0;
        top: 19px;
        cursor: pointer;
        transform: translateX(-10px);
    }

    .bar-container .bar {
        margin-bottom: 4px;
        height: 4px;
        width: 26px;
        border-radius: 3px;
        background-color: #100f0f;
        transition: all .3s;
    }


    .active-bar-1 {
        transform: translateY(8px) rotate(45deg);
        transition: all .3s;
    }

    .active-bar-2 {
        transform: translateX(-30px);
        opacity: 0;
        background-color: white;
        transition: all .3s;
    }

    .active-bar-3 {
        transform: translateY(-8px) rotate(-45deg);
        transition: all .3s;
    }

    .mega-menu__sub-menu {
        height: 0;
        overflow: hidden;
    }

    .active .mega-menu__sub-menu {
        background-color: #ffffff;
        color: black;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .mega-menu__sub-menu_hide {
        height: 0;
        overflow: hidden;
    }

    .mega-menu__sub-menu .submenu:hover {
        background-color: #222222;
        color: #fff;
        list-style: none;
    }

    .mega-menu__sub-menu .submenu {
        border-bottom: 1px solid rgb(198, 194, 194);
    }
}

@media only screen and (min-width: 601px) {
    .Navbar {
        box-shadow: -1px -16px 7px 12px blue;
        width: 100%;
        background-color: #ffffff;
        height: 70px;
    }

    .nav-container-2 {
        display: block;
        position: relative;
    }

    .navbar_2 {
        min-width: 550px;
         height: 70px;
        margin: 0 auto;
        display: flex;
        z-index: 2 !important;
        background-color: #fff;
        justify-content: space-between;
    }

    .navbar_2 h2 {
        transform: translateY(10px);
    }

    .nav-menu-control-hide {
        min-width: 360px;
        margin: 0 auto;
        transform: translateY(-230px);
        height: 0;
        z-index: 1 !important;
        transition:all .2s;
    }
    .nav-menu-control-show{
        transform: translateY(-19px);

        min-width: 360px;
        margin: 0 auto;
        height:80px;
        transition:all .5s;
    }
    .unOrderList {
        margin-top: 20px;
        background-color: rgb(255, 255, 255);
        z-index: 1000;

    }

    .nav-menu-control {
        min-width: 550px;
        margin: 0 auto;
    }

    .unOrderList .nav_list {
        font-size: 15px;
        list-style: none;
        padding: 3px 18px;
        height: 30px !important;
        border-bottom: 1px solid #dddbdb;
        background-color: rgb(255, 255, 255);

    }

    .nav_list:hover {
        background-color: #222222;
        color: #ffff;
    }

    .nav-container_1 {
        display: none;
    }

    .bar-container {
        width: 27px;
        position: absolute;
        right: 0;
        top: 19px;
        cursor: pointer;
        transform: translateX(-10px);
    }

    .active-bar-1 {
        transform: translateY(8px) rotate(45deg);
        transition: all .3s;
    }

    .active-bar-2 {
        transform: translateX(-30px);
        opacity: 0;
        background-color: white;
        transition: all .3s;
    }

    .active-bar-3 {
        transform: translateY(-8px) rotate(-45deg);
        transition: all .3s;
    }

    .bar-container .bar {
        margin-bottom: 4px;
        height: 4px;
        width: 26px;
        border-radius: 3px;
        background-color: #100f0f;
        transition: all .3s;
    }

    .bar-container:hover .bar-1 {
        transform: translateY(8px) rotate(45deg);
        transition: all .3s;
    }

    .bar-container:hover .bar-2 {
        transform: translateX(-30px);
        opacity: 0;
        background-color: white;
        transition: all .3s;
    }

    .bar-container:hover .bar-3 {
        transform: translateY(-8px) rotate(-45deg);
        transition: all .3s;
    }

    .mega-menu__sub-menu {
        height: 0;
        overflow: hidden;
    }

    .active .mega-menu__sub-menu {
        background-color: #ffffff;
        color: black;
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    .mega-menu__sub-menu_hide {
        height: 0;
        overflow: hidden;
    }

    .mega-menu__sub-menu .submenu:hover {
        background-color: #222222;
        color: #fff;
        list-style: none;
    }

    .mega-menu__sub-menu .submenu {
        border-bottom: 1px solid rgb(198, 194, 194);
    }

}

@media only screen and (min-width:768px) {
    .nav-container_1 {
        display: block;
        min-width: 700px;
        padding: 0px 15px;
        margin: 0 auto;
        transition: all .3s ease;
    }
    .Navbar {
        box-shadow: -1px -16px 7px 12px blue;
    }
    .nav-container_1 {
        display: block;
    }
    .nav-container-2 {
        display: none;
    }
    .nav-container_1 .navbar_1 {
        background-color: #fff;
        max-height: 100px;
        display: flex;
        align-items: center;
        vertical-align: middle;
        justify-content: space-between;
    }
    .nav-container_1 .navbar_1 ul {
        display: flex;
    }
    .nav-container_1 .navbar_1 ul li {
        list-style: none;
        font-weight: 400;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        padding: 13px 15px;
        transform: translateY(6px);
    }
}
@media only screen and (min-width:992px) {
    .nav-container_1 {

        max-width: 900px;

        margin: 0 auto;
    }

}