@media(max-width:600px) {
    .whyMe {
        min-width: 360px;
        overflow: hidden;
        margin: 0 auto;
        padding: 0 15px;
        font-family: 'Roboto', sans-serif;
    }

    .whyMe-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .whyMe img {
        width: 100%;

    }

    .whyMe p {
        font-size: 13px;
    }
}

@media(min-width:601px) {
    .whyMe {
        min-width: 550px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .whyMe-child {
        display: grid;
        grid-template-columns: 48% 48%;
        justify-content: space-between;
        gap: 20px;
        align-items: center;
    }

    .whyMe img {
        width: 100%;
        top: 0;
    }

  

    .whyMe p {
        font-size: 13px;
    }
}

@media(min-width:768px) {}

@media(min-width:992px) {
    .whyMe {
        max-width: 900px;

    }
}